*{
    box-sizing: border-box;
    scroll-behavior:smooth;
}
body{
    background-color: #081B27;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
[class*="colum-"]{
    float: left;
    padding: 12px;
}
header{
    height: 80px;
    background-color:#0C2738 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 12px ;
}
//Mobile
[class*="colum-"]{
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #FEFEFE;
}
.logo-img{
    width: 28px;
    height: 18px;
    margin-right: 4px;
}
.logo-text{
    margin: 0;
    font-size: 1.3rem;
}
.nav-menu{
    color: #FEFEFE;
    font-size: 1.5rem;
    padding: 22px 28px 22px 28px;
}
.form-group{
    display: flex;
    justify-content: space-between;
}
.input-search{
    width: 80%;
    border: none;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    padding: 6px 12px;
    outline: none;
}
.text-head{
    margin-top: 150px;
}
.text-item{
    color: #F1B722;
    font-size: 2rem;
    text-align: center;
}
.btn-search{
    width: 20%;
    border: none;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    color: #FEFEFE;
    background-color: #3898EC;
    font-size: 13px;
}
.danh-muc-wrap{
    display: flex;
    justify-content: center;
}
.danh-muc{
    display: block;
    text-align: center;
    background-color: #0C2738;
    padding: 15px 20px;
    border-radius: 30px;
    margin: 24px 3px;
    font-size: 13px;
    color: #3B4344;
}
.danh-muc:hover{
    color: burlywood;
}
.active{
    color: #374550;
    background-color: #FEFEFE;
}
.body-home{
    margin-top: 60px;
}
.card-film{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-film{
    width: 180px;
    height: 260px;
    border-radius: 8px;
}
.color-text{
    color: #FEFEFE;
}
.name-film{
    font-size: 1.4rem;
    line-height: 1.4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 4px;
}
.img-content-film{
    text-align: center;
    margin: 12px 0;
}
.content-film{
    
}
.body{
    text-align: center;
}
.list-star{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.active-star{
    color: #F1B722;
}
.input-width{
    width: 60%;
}
.label-width{
    width: 40%;
}
.label{
    color: #FEFEFE;
    font-size: 1rem;
}
.content-add{
    margin: 48px 0;
}
.btn-cus{
    background-color: #F1B722;
    color: #000;
    border: none;
}
.btn-cus:hover{
    background-color: #000;
    color: #F1B722;
}
.border-r{
    border-radius: 5px;
}
.head-list{
    background-color: #FEFEFE;
    border-radius: 5px;
}
.text-head-list{
    color: #000;
    font-size: 1.4rem;
    text-align: center;
}
.btn-xoa{
    display: block;
    background-color: brown;
    padding: 4px 6px;
    border-radius: 4px;
    color: #FEFEFE;
    text-align: center;
}
.btn-sua{
    display: block;
    background-color: #3898EC;
    padding: 4px 6px;
    border-radius: 4px;
    color: #FEFEFE;
    text-align: center;
}
//DEATAIL
.content-detail{
    margin-top: 100px;
}
.img-detail{
    text-align: center;
}
.img-dt{
    width: 240px;
    height: 350px;
    border-radius: 10px;
}
.text-name{
    font-size: 2rem;
    color: #FEFEFE;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.time-icon{
    color: #F1B722;
    font-size: 1.4rem;
    margin-top: 4px;
}
.text-namSB{
    color: #FEFEFE;
    font-size: 1.2rem;
    margin: 0 6px;
}
.time{
    display: flex;
    align-items: center;
}
.btn-play{
    margin:12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-trailer{
    margin-right: 6px;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    color: #FEFEFE;
    outline: none !important;
    background-color: #3898EC;
}
.btn-xem{
    margin-right: 6px;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    color: #FEFEFE;
    outline: none !important;
    background-color: #E46466;
}
.list-content{
    padding: 0;
    list-style: none;
}
.item-content{
    color: #FEFEFE;
    font-size: 1.2rem;
    line-height: 1.3rem;
}
.mota{
    font-size: 1.2rem;
    color: #9CABB6;
}
.input-search-ft{
    width: 90%;
    border: none;
    border-radius: 30px;
    padding: 12px 12px;
    text-align: center;
}
.search-icon{
    color: #FEFEFE;
    padding: 6px;
}
.footer-content{
    text-align: center;
}
.list-footer{
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.item-footer-link{
    color: #4091C9;
    font-size: 1.2rem;
}
.color-icon{
    color: #F1B722;
}
.footer-text{
    color: #F1B722;
    display: block;
    padding: 30px;
    text-align: center;
}
.content-menu-sidebar{
    background-color: #081B27;
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    padding: 70px 18px;
    box-shadow: 2px 2px 5px #000;
    border-radius: 5px;
    height: 100%;
    transition: 0.5s;
    margin-right: -100%;
}
.close{
    width: 43px;
    height: 39px;
    position: absolute;
    top: 21px;
    left: 21px;
}
.icon-close{
    font-size: 2rem;
    color: #FEFEFE;
}
.list-item-menu{
    list-style: none;
}
.item-menu a{
    color: #9CABB6;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.open{
    display: block;
}
.closeBtn{
    position: fixed;
    top: 26px;
}
.footer-social{
    margin-top: 100px;
}
.navs{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.list-navs{
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0 0;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    padding: 0;
}
.link-navs{
    color: #F1B722;
    text-decoration: none !important;
    font-weight: 600;
}
.link-navs:hover{
    color: #FEFEFE;
}
.active-navs{
    color: #FEFEFE;
}
//side right
.side-bars-right{
    display: none;
}
.content-side-wrap{
    display: flex;
    padding-left: 10px;
}
.side-right{
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    background-color: #0C222F;
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: #666666;
}
.img-sidebars{
    width: 60px;
    height: 80px;
    border-radius: 5px;
}
.text-sidebars{
    color: #FEFEFE;
    font-size: 1rem;
}
.list-star-bars{
    float: left;
}
.head-side{
    color: #F1B722;
    font-size: 1.8rem;
}
.name-text-film{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
// header
//tablet sm
//tablet
@media only screen and (min-width:600px) {
    .colum-s-1{width: 8.33333333%;}
    .colum-s-2{width: 16.6666667%;}
    .colum-s-3{width: 25%;}
    .colum-s-4{width: 33.3333333%;}
    .colum-s-5{width: 41.6666667%;}
    .colum-s-6{width: 50%;}
    .colum-s-7{width: 58.3333333%;}
    .colum-s-8{width: 66.6666666%;}
    .colum-s-9{width: 75%;}
    .colum-s-10{width: 83.333333%;}
    .colum-s-11{width: 91.666667%;}
    .colum-s-12{width: 100%;}
}

//desktop
@media only screen and (min-width:1200px) {
    .colum-1{width: 8.33333333%;}
    .colum-2{width: 16.6666667%;}
    .colum-3{width: 25%;}
    .colum-4{width: 33.3333333%;}
    .colum-5{width: 41.6666667%;}
    .colum-6{width: 50%;}
    .colum-7{width: 58.3333333%;}
    .colum-8{width: 66.6666666%;}
    .colum-9{width: 75%;}
    .colum-10{width: 83.333333%;}
    .colum-11{width: 91.666667%;}
    .colum-12{width: 100%;}
    .nav-menu{
        display: none;
    }
    .logo-text{
        font-size: 2rem;
    }
    .logo-img{
        width: 80px;
        height: 55px;
    }
    .navs{
        display: block;
    }
    .side-bars-right{
        display: block;
    }
}