<div class="container">
    <div class="login index-login">
       <div class="head-login">
           <p>Authentication</p>
       </div>
       <div class="body-login">
           <div class="signUp"><a href="/user/signUp" class="link-SignUp">
               Sign Up
           </a></div>
           <div class="signUp"><a href="/user/login" class="link-SignIn">
               Sign In
           </a></div>
       </div>
    </div>
</div>