<div class="container" style="margin-top: 150px;">

    <div class="row footer-content">
        <div class="colum-12 search-ft" style="margin-top: 100px;">
            <form action="/films/search">
                <input style="outline: none;" type="text" name="name" placeholder="Nhập tên phim"
                    class="input-search-ft" />
                <button type="submit" class="btn-sr"><i class="fas fa-search search-icon"></i></button>
            </form>
        </div>
    </div>
    <div class="row footer-social">
        <div class="colum-s-4 colum-4 footer-body">
            <ul class="list-footer">
                <li><a href="" class="item-footer-link">
                        Liên hệ
                    </a></li>
                <li><a href="" class="item-footer-link">
                        Giới thiệu
                    </a></li>
                <li><a href="" class="item-footer-link">
                        Bản quyền
                    </a></li>
            </ul>
        </div>
        <div class="colum-s-4 colum-4 footer-body">
            <ul class="list-footer">
                <li><a href="" class="item-footer-link">
                        Phim bộ
                    </a></li>
                <li><a href="" class="item-footer-link">
                        Phim lẻ
                    </a></li>
                <li><a href="" class="item-footer-link">
                        Phim chiếu rạp
                    </a></li>
            </ul>
        </div>
        <div class="colum-s-4 colum-4 footer-body">
            <ul class="list-footer">
                <li><a href="" class="item-footer-link">
                        <i class="fab fa-facebook-square color-icon"></i>
                        Facebook
                    </a></li>
                <li><a href="" class="item-footer-link">
                        <i class="fab fa-instagram color-icon"></i>
                        Instagram
                    </a></li>
                <li><a href="" class="item-footer-link ">
                        <i class="fab fa-github color-icon"></i>
                        Github
                    </a></li>
            </ul>
        </div>
    </div>
</div>
<div class="dropdown-divider"></div>
<div class="container">
    <p class="footer-text">
        Copyright © 2021 Yeuphim.h. All Rights reserved.
    </p>
</div>