<header>
    <span class="logo">
        <a href="/">
            <img src="../../../img/logophim.png" alt="logo" class="logo-img" />
        </a>
        <a href="/" style="text-decoration: none; color: #FEFEFE;">
            <p class="logo-text">YEUPHIM</p>
        </a>
    </span>
    <span class="nav-menu">
        <i class="fas fa-bars"></i>
    </span>
</header>