<header>
    <span class="logo">
        <img src="../../../img/logophim.png" alt="logo" class="logo-img">
        <p class="logo-text">YEUPHIM</p>
    </span>
    <span class="nav-menu">
        <i class="fas fa-bars"></i>
    </span>
</header>