<header>
    <span class="logo">
        <a href="/">
            <img src="../../../img/logophim.png" alt="logo" class="logo-img" />
        </a>
        <a href="/" style="text-decoration: none; color: #FEFEFE;">
            <p class="logo-text">YEUPHIM</p>
        </a>
    </span>
    <div class="navs">
        <ul class="list-navs">
            <li class="item-nav"><a href="/" class="link-navs">Phim Mới</a></li>
            <li class="item-nav"><a href="/filmsTC" class="link-navs">Phim Tình Cảm</a></li>
            <li class="item-nav"><a href="/filmsHD" class="link-navs">Phim Hành Động</a></li>
            <li class="item-nav"><a href="/filmsNM" class="link-navs">Phim Cảm Động</a></li>
            <li class="item-nav"><a href="/filmsCR" class="link-navs">Phim Chiếu Rạp</a></li>
            <li class="item-nav option-dr" id="option-dd" onclick="option()">
                <a href="#" class="link-navs">Tùy Chọn</a>
                <div class="drop-down-op" id="item-op-dd">
                    <ul class="list-dr">
                        <li class="item-dr">
                            <a href="/films">
                                <i class="fas fa-clipboard-list color-icon"></i>
                                Danh Sách Phim
                            </a>
                        </li>
                        <li class="item-dr">
                            <a href="/user">
                                <i class="fas fa-user-circle color-icon"></i>
                                Tài Khoản
                            </a>
                        </li>
                        <li class="item-dr">
                            <a href="/admin">
                                <i class="fas fa-users color-icon"></i>
                                Quản lí tài Khoản
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    <div class="line"></div>
    </div>
    <span class="nav-menu">
        <a href="javascript:void(0)" class="btnOpen" onclick="opennav()" style="color: #FEFEFE;">
            <i class="fas fa-bars"></i>
        </a>
        <div class="content-menu-sidebar" id="MySlide">
            <ul class="list-item-menu">
                <li class="item-menu">
                    <a href="/">
                        Phim mới 
                    </a>
                    <a href="javascript:void(0)" class="closeBtn" onclick="closeNav()">
                        <i class="fas fa-times icon-close"></i>
                    </a>
                </li>
                <div class="dropdown-divider"></div>
                <li class="item-menu">
                    <a href="/filmsTC">
                        Phim tình cảm 
                    </a>
                </li>
                <li class="item-menu">
                    <a href="/filmsHD">
                        Phim hành động
                    </a>
                </li>
                <li class="item-menu">
                    <a href="/filmsNM">
                        Phim cảm động 
                    </a>
                </li>
                <li class="item-menu">
                    <a href="filmsCR">
                        Phim chiếu rạp  
                    </a>
                </li>
                <li class="item-menu">
                    <a href="/films">
                        Danh sách phim
                    </a>
                </li>
                <div class="dropdown-divider"></div>
                <li class="item-menu">
                    <a href="/user">
                        Tài khoản
                    </a>
                </li>
            </ul>
        </div>
    </span>
    <script>
        function opennav() {
            document.getElementById('MySlide').style.marginRight = "0%";
        }
        function closeNav() {
            document.getElementById('MySlide').style.marginRight = "-100%";
        }
        function option(){
            document.getElementById('item-op-dd').classList.toggle('show')
        }
    </script>
</header>