<div class="container content-add mt-4">
    <div class="row">
        <div class="colum-12">
            <form method="POST" action="/films/data">
                <div class="form-group">
                    <label class="label" for="name"> Tên:</label>
                    <input
                        type="text"
                        class="form-control input-width"
                        name="name"
                        placeholder="Tên phim"
                    />
                </div>
                <div class="form-group">
                    <label class="label" for="rate">Rate:</label>
                    <input
                        type="text"
                        class="form-control input-width"
                        name="rate"
                        placeholder="Rate phim"
                    />
                </div>
                <div class="form-group">
                    <label class="label" for="img"> Path ảnh:</label>
                    <input
                        type="text"
                        class="form-control input-width"
                        name="img"
                        placeholder="Path ảnh phim"
                    />
                </div>
                <div class="form-group">
                    <label class="label" for="trailer">Trailer:</label>
                    <input
                        type="text"
                        class="form-control input-width"
                        name="trailer"
                        placeholder="Trailer phim"
                    />
                </div>
                <div class="form-group">
                    <label class="label" for="full">Full movie:</label>
                    <input
                        type="text"
                        class="form-control input-width"
                        name="full"
                        placeholder="Trailer phim"
                    />
                </div>
                <div class="form-group">
                    <label class="label" for="moTa"> Mô tả:</label>
                    <textarea
                        cols="30"
                        rows="5"
                        type="text"
                        class="form-control input-width"
                        name="moTa"
                        placeholder="Mô tả"
                    ></textarea>
                </div>
                <div class="form-group">
                    <label class="label" for="thoiLuong">
                        Thời lượng:</label>
                    <input
                        type="text"
                        class="form-control input-width"
                        name="thoiLuong"
                        placeholder="Thời lượng phim"
                    />
                </div>
                <div class="form-group">
                    <label class="label" for="soTap">Số tập:</label>
                    <input
                        type="text"
                        class="form-control input-width"
                        name="soTap"
                        placeholder="Số tập phim"
                    />
                </div>
                <div class="form-group">
                    <label class="label" for="quocGia">Quốc gia:</label>
                    <input
                        type="text"
                        class="form-control input-width"
                        name="quocGia"
                        placeholder="Quốc gia"
                    />
                </div>
                <div class="form-group">
                    <label class="label" for="namSuatban">
                        Năm xuất bản:</label>
                    <input
                        type="text"
                        class="form-control input-width"
                        name="namSuatBan"
                        placeholder="Năm xuất bản phim"
                    />
                </div>
                <div class="form-group">
                    <label class="label" for="ngayCongChieu">
                        Ngày công chiếu:</label>
                    <input
                        type="text"
                        class="form-control input-width"
                        name="ngayCongChieu"
                        placeholder="Ngày công chiếu phim"
                    />
                </div>
                <div class="form-group">
                    <label class="label" for="theLoai"> Thể loại:</label>
                    <input
                        type="text"
                        class="form-control input-width"
                        name="theLoai"
                        placeholder="Thể loại phim"
                    />
                </div>
                <div class="form-group">
                    <label class="label" for="daoDien"> Đạo diễn:</label>
                    <input
                        type="text"
                        class="form-control input-width"
                        name="daoDien"
                        placeholder="Đạo diễn phim"
                    />
                </div>
                <div class="form-group">
                    <label class="label" for="dienVien">
                        Diễn viên:</label>
                    <input
                        type="text"
                        class="form-control input-width"
                        name="dienVien"
                        placeholder="Diễn viên đóng phim"
                    />
                </div>
                <div class="form-group">
                    <label class="label" for="lichChieu">
                        Lịch chiếu:</label>
                    <input
                        type="text"
                        class="form-control input-width"
                        name="lichChieu"
                        placeholder="Lịch chiếu phim"
                    />
                </div>
                <div class="form-group">
                    <label class="label" for="trangweb"> Trang phim:</label>
                    <input
                        type="text"
                        class="form-control input-width"
                        name="trangweb"
                        placeholder="Trang web phim"
                    />
                </div>
                <button
                    type="submit"
                    class="btn btn-primary btn-cus"
                >Thêm</button>
            </form>
        </div>
    </div>
</div>