<style>
    .errorColor{
        color: #F1B722;
    }
</style>
<h1 style="color: orangered;">Tài khoản không tồn tại !!!</h1><br>
<h1 class="errorColor">Vui lòng đăng kí tài khoản tại đây</h1><br>
<h2><a href="/user/signUp" style="color: tomato;"><i class="far fa-hand-point-right"></i>Bấm để đăng kí tài khoản</a></h2>