<style>
    .errorColor{
        color: #F1B722;
    }
</style>
<h1 style="color: orangered;">ERROR !!!</h1><br>
<h1 class="errorColor">Tài khoản cảu bạn khồng có quyền truy cập vào mục này</h1><br>
<h1 class="errorColor">Vui lòng quay xe</h1>
<h2><a href="/" style="color: tomato;"><i class="far fa-hand-point-right"></i>Bấm để quay lại trang chủ</a></h2>