<div class="container mt-4">
    <div class="colum-12">
        <div class="head-list">
            <p class="text-head-list">
                Danh sách phim trong database
            </p>
        </div>
        <table class="table table-light border-r">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên phim</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Thể loại</th>
                    <th scope="col" colspan="2">Tùy chọn</th>
                </tr>
            </thead>
            <tbody>
                {{#each films}}
                    <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.rate}}</td>
                        <td>{{this.theLoai}}</td>
                        <td><a href="#" class="btn-xoa">Xóa</a></td>
                        <td><a href="#" class="btn-sua">Sửa</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>